= render "shared/error_messages", object: form.object
= control_group form, :name do
  = form.label :name, "* #{t('artist.name')}", class: "control-label"
  .controls
    = form.text_field :name, class: "input-xlarge"
    = error_messages(form, :name)
= control_group form, :description do
  = form.label :description, t('genre.description'), class: "control-label"
  .controls
    = form.text_area :description, class: "input-xlarge", rows: 5
    = error_messages(form, :description)