.page-header
  %h1
    = t ".title"
%table.table.table-striped
  %thead
    %tr
      %th.span3
        %span.icon-tags
        = t('genre.name')
      %th.span7
        %span.icon-align-justify
        = t('genre.description')
      %th.span2
        %span.icon-wrench
        = t('common.actions')
  %tbody
  - @genres.each do |genre|
    %tr
      %td
        = genre.name
      %td
        = genre.description
      %td
        = link_to t('.edit'), edit_genre_path(genre), class: "btn btn-mini"
        = link_to t('.delete'), genre, class: "btn btn-mini btn-danger confirm-delete"
        
= will_paginate

= link_to t('.new'), new_genre_path, class: "btn btn-primary"