.page-header
  %h1
    = t ".title"
%table.table.table-striped
  %thead
    %tr
      %th.span10
        %span.icon-user
        = t('artist.name')
      %th.span2
        %span.icon-wrench
        = t('common.actions')
  %tbody
  - @artists.each do |artist|
    %tr
      %td
        = artist.name
      %td
        = link_to t('.edit'), edit_artist_path(artist), class: "btn btn-mini"
        = link_to t('.delete'), artist, class: "btn btn-mini btn-danger confirm-delete"

= will_paginate

= link_to t('.new'), new_artist_path, class: "btn btn-primary"