<h1><%= t('.title') %></h1>
<div id="form-container">
  <%= form_for @artist do |f| %>
    <%= render 'form', form: f %>
    <%= f.submit t('.create'), class: 'btn btn-primary' %>
    <%= link_to t('.cancel'), artists_path, class: 'btn' %>
  <% end %>
</div>
