.page-header
  %h1
    = t ".title"
%table.table.table-striped
  %thead
    %tr
      %th.span3
        %span.icon-music
        Title
      %th.span3
        %span.icon-user
        Artist
      %th.span2
        %span.icon-book
        Album
      %th.span2
        %span.icon-tags
        Genre
      %th.span2
        %span.icon-wrench
        Actions
  %tbody
  - @songs.each do |song|
    %tr
      %td
        = song.title
      %td
        = song.format_artists
      %td
        = song.album
      %td
        = song.genres.collect(&:name).join("; ")
      %td
        = link_to t('.edit'), edit_song_path(song), class: "btn btn-mini"
        = link_to t('.delete'), song, class: "btn btn-mini btn-danger confirm-delete"

= link_to t('.new'), new_song_path, class: "btn btn-primary"