.page-header
  %h1
    = t ".title"
%table.table.table-striped
  %thead
    %tr
      %th.span3
        %span.icon-music
        = t('song.title')
      %th.span3
        %span.icon-user
        = t('song.interpreters')
      %th.span2
        %span.icon-book
        = t('song.album')
      %th.span2
        %span.icon-tags
        = t('song.genres')
      %th.span2
        %span.icon-wrench
        = t('common.actions')
  %tbody
  - @songs.each do |song|
    %tr
      %td
        = song.title
      %td
        = song.format_artists
      %td
        = song.album
      %td
        = song.genres.collect(&:name).join("; ")
      %td
        = link_to t('.edit'), edit_song_path(song), class: "btn btn-mini"
        = link_to t('.delete'), song, class: "btn btn-mini btn-danger confirm-delete"

= will_paginate

= link_to t('.new'), new_song_path, class: "btn btn-primary"